{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Equine Feed Tracker </title>
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
 
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                   <a href="{% url 'home' %}" class="left brand-logo"><h1>Equine Feed Tracker</h1></a>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                     <a href="{% url 'create_horse' %}">Add a Horse</a>
                     <a href="{% url 'horse_list' %}">View All My Horses</a>
                     <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                     <a href="{% url 'login' %}">Log In</a>
                     <a href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                  </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer">
       <div class="right">All Rights Reserved, &copy; 2022 Equine Feed Tracker &nbsp;</div>
    </footer>
</body>
</html>